body{
    background-color:black;
    color:white;
    font-family: sans-serif;
    padding:0;
    margin:0;
}


#container {
    width:300px;
    height:300px;
}

.button {
    width:100px;
    height:100px;
    background-color:#333;
    color:white;
    font-size:5em;
    padding:0;
    margin:0;
}